/* estilo del html portfolio */
.titulo-portfolio {
    @include titulo;
    background-image: url(../public/1.jpg);
    color: rgba(8, 8, 7, 0.685);
    animation-name: primerimagender;
}

@keyframes primerimagender {
    0% {
        transform: translateX(305px);
        opacity: 0;
    }


    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

.seccion-portfolio {
    background-color: $background-primary;

}

/* seccion 1 portfolio */
.seccion1-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
        margin-left: 10px;
        margin-right: 10px;

    }

    h2 {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-weight: 200;
        font-size: $subtitulo-base;
        text-decoration: underline;
    }

    h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: $parrafo-inferior;
        color: $color-text-primary;
    }

    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: $subtitulo-base/2;
    }
}

.img1-port {

    border-radius: 15px;
    box-shadow:$sombra-amplia;
}

/* seccion 2 portfolio */
.seccion2-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
        margin-left: 10px;
        margin-right: 10px;

    }

    h2 {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-weight: 200;
        font-size: $subtitulo-base;
        text-decoration: underline;
    }

    h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:$parrafo-inferior;
        color: $color-text-primary;
    }

    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: $subtitulo-base/2;
    }
}

.img2-port {

    border-radius: 15px;
    box-shadow: $sombra-amplia;
}

/* seccion 3 portfolio */
.seccion3-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
        margin-left: 10px;
        margin-right: 10px;

    }

    h2 {
        font-family: 'Oleo Script Swash Caps', cursive;
        font-weight: 200;
        font-size: $subtitulo-base;
        text-decoration: underline;
    }

    h3 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: $parrafo-inferior;
        color: $color-text-primary;
    }

    h4 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:$subtitulo-base/2;
    }
}

.img3-port {

    border-radius: 15px;
    box-shadow: $sombra-amplia;
}



.enlace-contacto-portfolio {
    text-align: center;

    a {
        font-size: $subtitulo-base;
        color: $color-text-secondary;
    }

    &:hover {

        background: #ccc;
        background: linear-gradient(black, rgb(136, 63, 63), rgb(108, 7, 241));
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;

    }
}