// colores de texto
$color-text-primary:#6d6868;
$color-text-secondary: darkgrey;


// colores de fondo

$background-primary:#ffd9df;
$background-secundary: #fceee7;


// sombras de imagen
$sombra-chica: 5px 5px 10px gray;
$sombra-amplia: 5px 5px 20px gray;


